     <body>
     <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Our Wedding</h1>
                <nav>
                    <ul>

                        <li class="active"><a href="pages/about">About Us</a></li>
                        <li><a href="#">Wedding</a></li>
                        <li><a href="#">Registries</a></li>
                    </ul>
                </nav>
            </header>
        </div>
 
    <div class="main-container">
            <div class="main wrapper clearfix">
                
                <aside>
                    <h1> Riley &amp; Tom </h1>
                    <h4> July 11, 2015 </h4>
                </aside>


<div class="debug">
<label><input type="checkbox"> Debug</label>
</div>
<div class="demo__info">
</div>

<div class="parallax">
<div id="group1" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name"><h1>Welcome!</h1><p> <img src="http://www.rileyisme.com/wp-content/uploads/2014/09/cover-e1409620106485.jpg" alt="Engagement"> </p></div>
</div>
</div>
<div id="group2" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">whaaaa?</div>
</div>
<div class="parallax__layer parallax__layer--back">
<div class="name"><img src="http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_3755.jpg" alt="PITT"></div>
</div>
</div>
<div id="group3" class="parallax__group">
<div class="parallax__layer parallax__layer--fore">
<div class="name"><h1>The 911</h1><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p></div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name"><h1>The 211</h1><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p></div>
</div>
</div>
<div id="group4" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">testing</div>
</div>
<div class="parallax__layer parallax__layer--back">
<div class="name">The Fords</div>
</div>


<div class="parallax__layer parallax__layer--deep">
<div class="name"><img src="http://www.rileyisme.com/wp-content/uploads/2014/09/photo-1.jpg" alt="BOAT"></div>
</div>


</div>
<div id="group5" class="parallax__group">
<div class="parallax__layer parallax__layer--fore">
<div class="name">Andrea Graham</div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name">Mary Graham</div>
</div>
</div>
<div id="group6" class="parallax__group">
<div class="parallax__layer parallax__layer--back">
<div class="name"><img src=" http://www.rileyisme.com/wp-content/uploads/2014/09/IMG_4634-e1410908209647.jpg" alt="GERMANHAUS">  </div>
</div>
<div class="parallax__layer parallax__layer--base">
<div class="name">Jerome Graham</div>
</div>
</div>
<div id="group7" class="parallax__group">
<div class="parallax__layer parallax__layer--base">
<div class="name">Jim Graham</div>
</div>
</div>
</div>

<script>
var debugInput = document.querySelector("input");
function updateDebugState() {
    document.body.classList.toggle('debug-on', debugInput.checked);
}
debugInput.addEventListener("click", updateDebugState);
updateDebugState();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10812217-3']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

                
                   
            </div> <!-- #main -->
        </div> <!-- #main-container -->







    </body>
   


<!--
<table>
  <thead>
    <tr>
      <th>LALA</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>


-->