<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<head>
<title>About Us</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Quattrocento" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel='stylesheet' type='text/css'>

</head>


<body id="active2">
<div class="header-container">
<header class="wrapper clearfix">
<h1 class="title"><a href="../">Our Wedding</a></h1>
<nav>
<ul>

<li class="active"><a href="../pages/about">About Us</a></li>
<li class="active"><a href="#">Wedding</a></li>
<li><a href="#">Registries</a></li>

</ul>
</nav>
</header>
</div>

<div class="main-container">
<div class="main wrapper clearfix">


<h1>Listing guestbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestbooks.each do |guestbook| %>
      <tr>
        <td><%= guestbook.name %></td>
        <td><%= guestbook.message %></td>
        <td><%= link_to 'Show', guestbook %></td>
        <td><%= link_to 'Edit', edit_guestbook_path(guestbook) %></td>
        <td><%= link_to 'Destroy', guestbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guestbook', new_guestbook_path %>

<footer class="wrapper">
<h2></h2>
</footer>

</div>
</div>
</body>
</html>
